################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/services/user/src/Plaid.MSACommerce.UserService.HttpApi/bin/
/services/user/src/Plaid.MSACommerce.UserService.HttpApi/obj/
/services/user/src/Plaid.MSACommerceUservice.Core/bin/
/services/user/src/Plaid.MSACommerceUservice.Core/obj/
/services/user/src/Plaid.MSACommerceUservice.Infrastructure/bin/
/services/user/src/Plaid.MSACommerceUservice.Infrastructure/obj/
/services/user/src/Plaid.MSACommerceUservice.UseCases/bin/
/services/user/src/Plaid.MSACommerceUservice.UseCases/obj/

/shared/Plaid.MSACommerce.HttpApi.Common/bin/
/shared/Plaid.MSACommerce.HttpApi.Common/obj/
/shared/Plaid.MSACommerce.Infrastructure.EntityFrameworkCore/bin/
/shared/Plaid.MSACommerce.Infrastructure.EntityFrameworkCore/obj/
/shared/Plaid.MSACommerce.SharedKernel/bin/
/shared/Plaid.MSACommerce.SharedKernel/obj/
/shared/Plaid.MSACommerce.UseCases.Common/bin/
/shared/Plaid.MSACommerce.UseCases.Common/obj/


/apps/Plaid.MSACommerce.AuthServer/bin/
/apps/Plaid.MSACommerce.AuthServer/obj/
/gateways/Plaid.MSACommerce.WebGateway/bin/
/gateways/Plaid.MSACommerce.WebGateway/obj/
/pakages/Plaid.MSACommerce.Authentication.JwtBearer/bin/
/pakages/Plaid.MSACommerce.Authentication.JwtBearer/obj/
/Plaid.MSACommerce.Authentication.JwtBearer/obj
/Plaid.MSACommerce.Authentication.JwtBearer/DependencyInjection.cs
/Plaid.MSACommerce.Authentication.JwtBearer/JwtSettings.cs
